/* app css stylesheet */

body {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.key {
    display:block;
    width:x;
    height:y;
    text-align:center;
    float: right;
}

.form-group {
     margin-bottom: 0px !important
}

.status-panel {
    height: 250px;
}

.drop-button {
    width: 200px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.filename {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
