/* app css stylesheet */

body {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.key {
    display:block;
    width:x;
    height:y;
    text-align:center;
    float: right;
}

.form-group {
     margin-bottom: 0px !important
}

.status-panel {
    height: 250px;
}

.drop-button {
    width: 200px;
}
