<script type="text/ng-template" id="eventConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title">Update Controller</h3>
    </div>
    <div class="modal-body">
        Updating the controller will overwrite all events. Are you sure you
        would like to proceed?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Event Calendar</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">

                  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

                  <!-- <div class="form-group row" ng-show="importExport"> -->
                  <div class="form-group row">
                    <div class="col-md-2 col-md-offset-3">
                        <label for="cal">Timeline Schedule</label>
                    </div>

                        <div class="col-md-1">
                            <button id="cal" type="button" class="btn btn-info" ng-click="export()">Export</button>
                        </div>

                        <div class="col-md-2">
                            <label class="btn btn-info btn-file" ng-hide>
                                Import
                                <!-- <input type="file" style="display: none;" onchange="angular.element(this).scope().import(this)"> -->
                                <input type="file" fileread="$parent.uploadme" file-complete="fileComplete(arg)" />
                            </label>
                            <!-- <button id="cal" type="button" class="btn btn-info" ng-click="import()">Import</button> -->
                        </div>
                    </div>
                    <br>
                    <!-- <div class="form-group row" ng-hide="importExport">
                        <div class="col-md-1 col-md-offset-4">
                            <buttontype="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                        <div class="col-md-1">
                            <buttontype="button" class="btn btn-success" ng-click="upload()">Upload</button>
                        </div>

                        <div class="col-md-2">
                          <div class="filename">file: <i>{{file.name}}</i></div>
                        </div>
                    </div> -->

                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Timeline Legend</div>
        <div class="panel-body">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="timeline in timelines">
                        <td>
                            {{timeline.timelineId}}
                        </td>
                        <td>{{ timeline.name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
